body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #444;
    border-radius: 10px;
}

.block {
    border: 1px solid #555;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #666;
    border-radius: 5px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.answer {
    display: none;
}