body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12) no-repeat center center fixed;
    background-size: cover;
}

.budget-calculator {
    color: #ffffff;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #3B3B3B;
}

label, select, input, button {
    margin: 10px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.result {
    height: 200px;
    overflow: auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #2a2a2a;
    color: #ffffff;
}
